body {
    background-color: royalblue;
}
.row {
    background-color: aquamarine;
    padding: 1%;
    border-radius: 3%;
}
#trainTable {
    background-color: whitesmoke;
}
.thread-dark {
    background-color: black;
    color: azure;
}